<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

  {{> navbar}}
  <!-- end header -->


  <!-- end search arewa -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Review Your Cart</p>
            <h1>Cart</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- cart -->
  {{#if cart}}


  <div class="cart-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="cart-table-wrap">
            <table class="cart-table">
              <thead class="cart-table-head">
                <tr class="table-head-row">
                  <th class="product-remove"></th>
                  <th class="product-image">Product Image</th>
                  <th class="product-name">Name</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {{#each cart.items }}

                <tr class="table-body-row">
                  <td class="product-remove">
                    <form action="/cart/remove/{{ this.food._id }}" method="post">
                      <button type="submit" class="btn btn-primary">
                        <i class="far fa-window-close"></i>
                      </button>
                    </form>
                  </td>
                  <td class="product-image"><img src="{{ this.food.image }}" alt=""></td>
                  <td class="product-name">
                    <a href="/food/{{this.food._id}}">
                      {{ this.food.name }}
                    </a>
                  </td>
                  <td class="product-price">
                    {{#if this.offer }}
                    <del>
                      <span class="old-price">{{ this.food.price }}</span>
                    </del>
                    <span class="new-price">{{ this.offer.newprice }}</span>
                    {{else}}
                    <span class="new-price">{{ this.food.price }}</span>
                    {{/if}}

                  </td>
                  <td class="product-quantity"><span class="product-price">

                      {{ this.quantity}}
                    </span>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="total-section">
            <table class="total-table">
              <thead class="total-table-head">
                <tr class="table-total-row">
                  <th>Total</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="total-data">
                  <td><strong>Subtotal: </strong></td>
                  <td>{{ cart.total }}</td>
                </tr>
                <tr class="total-data">
                  <td><strong>Offer: </strong></td>
                  <td>{{ cart.totalOffer }}</td>
                </tr>
                <tr class="total-data">
                  <td><strong>Total: </strong></td>
                  <td>{{subtract cart.total cart.totalOffer}}</td>
                </tr>
              </tbody>
            </table>
            <div class="cart-buttons">
              <a type="button" onclick="Payment(event);" class="boxed-btn black">Check Out</a>
            </div>
          </div>

          <div class="coupon-section">
            <h3>Apply Coupon</h3>
            <div class="coupon-form-wrap">
              <form action="index.html">
                <p><input type="text" placeholder="Coupon"></p>
                <p><input type="submit" value="Apply"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="cart-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <h1>Cart Is Empty</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- end cart -->
  {{/if}}
  {{> footer}}
  {{> script}}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <form id="paymentVerifyForm" action="/payment/verify" method="POST">
    <input id="razorpay_payment_id" name="razorpay_payment_id" type="hidden" />
    <input id="razorpay_order_id" name="razorpay_order_id" type="hidden" />
    <input id="razorpay_signature" name="razorpay_signature" type="hidden" />
  </form>
  <script>

    async function Payment(e) {
      e.preventDefault();

      let response = await fetch(`/payment/cart`, {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
      })

      var orderData = await response.json();
      orderData = orderData.order;
      console.log(orderData);

      var options = {
        "key": "rzp_test_p4B7WH2gc3wU12", // Enter the Key ID generated from the Dashboard
        "amount": orderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": 'MealDiaries',
        "order_id": orderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
          document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
          document.getElementById('razorpay_signature').value = response.razorpay_signature;
          document.getElementById("paymentVerifyForm").submit();
        },
        "modal": {
          "ondismiss": function () {
            alert('Please complete the payment to continue');
          }
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    };
  </script>
</body>

</html>