<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
  {{> navbar}}
  {{#if messages.info}}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{messages.info}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
  <!-- hero area -->
  <div class="hero-area hero-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 offset-lg-2 text-center">
          <div class="hero-text">
            <div class="hero-text-tablecell">
              <h2 class="subtitle head-main">Meal Diaries</h2>
              <h1>Eat at first sight, love at first bite!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero area -->

  <!-- features list section -->
  <div class="list-section pt-80 pb-80">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex align-items-center justify-content-center">
            <div class="list-icon">
              <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="content">
              <h3>Free Shipping</h3>
              <p>When order over ₹300</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="list-box d-flex align-items-center justify-content-center">
            <div class="list-icon">
              <i class="fas fa-phone-volume"></i>
            </div>
            <div class="content">
              <h3>24/7 Support</h3>
              <p>Get support all day</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="list-box d-flex justify-content-start align-items-center justify-content-center">
            <div class="list-icon">
              <i class="fas fa-sync"></i>
            </div>
            <div class="content">
              <h3>Refund</h3>
              <p>Get refund within 3 days!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end features list section -->

  <!-- product section -->
  {{#ifNotEquals persist "seller"}}

  <div class="product-section mt-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span class="orange-text">Our Popular</span> Products</h3>
            <p>We aim to cater our customer with the highest quality of home cooked food to fulfill their
              health needs.
            </p>
          </div>
        </div>
      </div>

      <div class="row">

        {{#each food }}
        <div class="col-lg-4 col-md-6 text-center">
          <div class="single-product-item">
            <div class="product-image">
              {{#if this.offer}}
              <div class="product-badge offer-badge">
                <p class="badge badge-success">{{ this.offer.discount }} - {{splitDate this.offer.validTill }}</p>
              </div>
              {{/if}}
              <a href="single-product.html"><img src="{{ this.image }}" alt="" height="300px" ></a>
            </div>
            <h3>{{ this.name }}</h3>
            <a href="/myprofile/{{ this.belongsTo }}" target="_blank">{{ this.seller.name }}</a>
            {{#if this.isVeg }}
            <h3>
              <span class="badge badge-success">Veg</span>
            </h3>
            {{else}}
            <h3>
              <span class="badge badge-danger">Non-Veg</span>
            </h3>
            {{/if}}
            <p class="product-price">
              {{#if this.offer}}
                <del>₹{{ this.price }}</del>
                <br>
                <span>₹{{ this.offer.newprice }}</span>
              {{else}}
                ₹{{ this.price }}
              {{/if}}
            </p>
            <a href="/cart/{{ this._id }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
  <!-- end product section -->
  {{/ifNotEquals}}


  <!-- testimonail-section -->
  {{> testimonail}}
  <!-- end testimonail-section -->

  <!-- advertisement section -->
  <div class="abt-section mb-100" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 mt-4">
          <div class="abt-bg d-none d-md-flex">
            <a href="#"><img src="assets/img/heart.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="abt-text mt-4" id="about">
            <p class="top-sub">Founded in 2022</p>
            <h2>We are <span class="orange-text">Meal Diaries</span></h2>
            <p class="lead text-dark p-2">Meal Diaries is a food delivery application specially designed for delivering
              variety of food not only to
              regular customers, but also to people who specially require freshly home cooked meals.
              It offers food from cloud kitchens run by individuals with a variety
              of cuisines available. </p>
            <a href="/about" class="boxed-btn mt-4">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end advertisement section -->


  {{!-- {{> footer}} --}}
  <!-- footer -->
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-box about-widget">
            <h2 class="widget-title">About us</h2>
            <p class="justify-content-start p-1">Meal Diaries is a food delivery application specially designed for
              delivering variety of food not only
              to regular customers, but also to people who specially require freshly home cooked meals.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" id="contact">
          <div class="footer-box get-in-touch">
            <h2 class="widget-title">Get in Touch</h2>
            <ul>
              <li>SIES Graduate School of Technology, Navi Mumbai</li>
              <li>support@mealdiaries.com</li>
              <li>+00 111 222 3333</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box pages">
            <h2 class="widget-title">Pages</h2>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              {{!-- <li><a href="services.html">Shop</a></li> --}}
              {{!-- <li><a href="news.html">News</a></li> --}}
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box subscribe">
            <h2 class="widget-title">Subscribe</h2>
            <p>Subscribe to our mailing list to get the latest updates.</p>
            <form action="index.html">
              <input type="email" placeholder="Email">
              <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->

  <!-- copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>Copyrights &copy;All Rights Reserved.<br>
          </p>
        </div>
        <div class="col-lg-6 text-right col-md-12">
          <div class="social-icons">
            <ul>
              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              {{!-- <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li> --}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end copyright -->

  <!-- end latest news -->

{{> script}}

</body>

</html>