<!DOCTYPE html>
<html lang="en">
{{> head }}

<style>
  nav a {
    color: #F28123 !important;
  }
</style>

<body>

  {{> navbar}}


  <section class="text-light my-5 pt-lg-5 text-center">
    <div class="container">
      <div class="align-items-center justify-content-between">
        <div class="my-5">
          <h2>Your Profile</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="instructors" class="p-5 bg-white">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-12 col-lg-4">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
              <h3 class="card-title mb-3">First Name</h3>
              <p class="card-text">
                {{#if user.isVerified}}
                Seller
                {{else}}
                Customer
                {{/if}}

              </p>
              {{#if message}}
              <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#message">Message</button>
              <div class="modal fade" id="message" tabindex="-1" aria-labelledby="messageLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="messageLabel">Send Message</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p class="lead text-dark">Enter your message
                      </p>
                      <form>
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Send Message</button>
                    </div>
                  </div>
                </div>
              </div>
              {{else}}
              <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#edit">Edit
                Profile</button>
              <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editlabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editLabel">Edit Profile</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/myprofile" method="post">
                      <div class="modal-body">
                        <p class="lead text-dark">Please do the changes you wish to make
                        </p>
                        <div class="md-3">
                          <label for="last-name" class="col-form-label">
                            Name:
                          </label>
                          <input type="text" class="form-control" id="name" value="{{user.name}}" name="name">
                        </div>
                        <div class="md-3">
                          <label for="phone" class="col-form-label">
                            Phone:
                          </label>
                          <input type="text" value="{{ user.phoneNo }}" class="form-control" id="phone" name="phoneNo">
                        </div>
                        <div class="md-3">
                          <label for="phone" class="col-form-label">
                            House No.:
                          </label>
                          <input type="text" name="houseNo" class="form-control" value="{{user.houseNo}}" id="house-no">
                        </div>
                        <div class="md-3">
                          <label for="phone" class="col-form-label">
                            Sector:
                          </label>
                          <input type="text" name="sector" value="{{ user.sector}}" class="form-control" id="sector">
                        </div>
                        <div class="md-3">
                          <label for="phone" class="col-form-label">
                            City:
                          </label>
                          <input type="text" name="city" value="{{ user.city}}" class="form-control" id="city">
                        </div>
                        <div class="md-3">
                          <label for="phone" class="col-form-label">
                            State:
                          </label>
                          <input type="text" name="state" value="{{user.state}}" class="form-control" id="state">
                        </div>
                        <div class="md-3">
                          <label for="phone" class="col-form-label">
                            PIN Code:
                          </label>
                          <input type="text" name="pincode" value="{{user.pincode}}" class="form-control" id="pin">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-8">
          <div class="card bg-light">
            <div class="card-body text-center">

              <div class="row">
                <div class="col-6 list-group list-group-flush lead">
                  <ul class="list-group list-group-flush lead">
                    <li class="list-group-item mb-3 bg-light">
                      <span class="fw-bold">Full Name</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                      <span class="fw-bold">Email</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                      <span class="fw-bold">Phone</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                      <span class="fw-bold">Address</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                    </li>
                  </ul>
                </div>
                <div class="col-6 list-group list-group-flush lead">
                  <ul class="list-group list-group-flush lead">
                    <li class="list-group-item  mb-3 bg-light">
                      <span>{{ user.name }}</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                      <span>{{ user.email }}</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                      <span>{{ user.phoneNo }}</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                      <span>{{ user.houseNo }}, {{ user.sector}}, {{user.city}}, {{user.state}}-{{user.pincode}}</span>
                    </li>
                    <li class="list-group-item  mb-3 bg-light">
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Modal --}}





  </section>
  {{> footer}}
  {{> script}}
</body>

</html>