<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  {{> navbar}}


  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Choose from the best cuisines available around you!</p>
            <h1>Shop</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- products -->
  <div class="product-section mt-150 mb-150">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="product-filters">
            <ul>
              <li class="active" data-filter="*">All</li>
              <li data-filter=".breakfast">Breakfast</li>
              <li data-filter=".launch">Lunch</li>
              <li data-filter=".dinner">Dinner</li>
              <li data-filter=".snacks">Snacks</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row product-lists mt-2">
        {{#each food }}
        {{#each this.foods}}
        <div class="col-lg-3 col-md-6 text-center {{ ../category }}">
          <div class="single-product-item">
            <div class="product-image">
              <a href="/food/{{ this._id }}"><img src="{{ this.image }}" alt="" height="300px"></a>
            </div>
            <h3>{{ this.name }}</h3>
            <h3>{{ ../category }}</h3>
            <p class="product-price">
              {{#if this.offer}}
              <del>₹{{ this.price }}</del>
              <br>
              <span>₹{{ this.offer.newprice }}</span>
              {{else}}
              ₹{{ this.price }}
              {{/if}}

            </p>
            <form action="/cart/add/{{ this._id }}" method="post">
              <button type="submit" class="cart-btn">
                <i class="fas fa-shopping-cart"></i> Add to Cart
              </button>
          </div>
        </div>
        {{/each}}

        {{/each}}
      </div>
    </div>
  </div>
  <!-- end products -->

  {{> footer}}
  <!-- end copyright -->

  {{> script}}

</body>

</html>