<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

  {{> navbar}}

  <!-- search area -->
  <!-- end search arewa -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">

            <h3 style="color:white">These are the Available Products</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- products -->
  <div class="product-section mt-150 mb-150">
    <div class="container">
      <div class="row product-lists">
        {{#each foods }}
        <div class="col-lg-4 col-md-6 text-center strawberry">
          <div class="single-product-item">
            <div class="product-image">
              {{#if this.offer}}
              <div class="product-badge offer-badge">
                <p class="badge badge-success">{{ this.offer.discount }} - {{splitDate this.offer.validTill }}</p>
              </div>
              {{/if}}
              <img src="{{ this.image }}" alt="" height="300px">
            </div>
            <h3>{{ this.name }}</h3>
            <h3>{{ this.category }}</h3>
            {{#if this.isVeg }}
            <h3>
              <span class="badge badge-success">Veg</span>
            </h3>
            {{else}}
            <h3>
              <span class="badge badge-danger">Non-Veg</span>
            </h3>
            {{/if}}
            {{#if this.isAvailable }}
            <h3>
              <span class="badge badge-success">Available</span>
            </h3>
            {{else}}
            <h3>
              <span class="badge badge-danger">Not Available</span>
            </h3>
            {{/if}}
            <p class="product-price">
              {{#if this.offer}}
              <del>₹{{ this.price }}</del>
              <br>
              <span>₹{{ this.offer.newprice }}</span>
              {{else}}
              ₹{{ this.price }}
              {{/if}}
            </p>
            <a type="button" class="cart-btn" data-toggle="modal" data-target="#example{{ this._id }}"><i
                class="fas fa-pen"></i> Edit Food</a>
            <a type="button" class="cart-btn" data-toggle="modal" data-target="#example2{{ this._id }}"><i
                class="fas fa-pen"></i>
              {{#if this.offer}}
              Edit Offer
              {{else}}
              Add Offer
              {{/if}}
            </a>
            {{#if this.offer}}
            <a href="/deleteoffer/{{ this._id }}" class="cart-btn mt-4"><i class="fas fa-trash"></i> Delete Offer</a>
            {{/if}}
            <!-- Modal -->
            <div class="modal fade" id="example2{{ this._id }}" tabindex="-1" role="dialog"
              aria-labelledby="example2{{ this._id }}Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="example2{{ this._id }}Label">Add Offer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action={{#if this.offer}} "/editOffer/{{ this._id }}" {{else}} "/addoffer/{{ this._id }}"
                    {{/if}} method="post">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="checkout-accordion-wrap">
                            <div class="accordion" id="accordionExample">
                              <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Your Product
                                    </button>
                                  </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                  data-parent="#accordionExample">
                                  <div class="card-body">
                                    <div class="billing-address-form">

                                      <p><input type="date" name="validTill" value={{#if
                                          this.offer}} "{{date this.offer.validTill}}" {{/if}}></p>

                                      <p><input type="number" name="discount" placeholder="Discount" {{#if this.offer}}
                                          value="{{ this.offer.discount }}" {{/if}}></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal fade" id="example{{ this._id }}" tabindex="-1" role="dialog"
              aria-labelledby="example{{ this._id }}Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="example{{ this._id }}Label">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/editproduct/{{ this._id }}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="checkout-accordion-wrap">
                            <div class="accordion" id="accordionExample">
                              <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Your Product
                                    </button>
                                  </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                  data-parent="#accordionExample">
                                  <div class="card-body">
                                    <div class="billing-address-form">
                                      <p><input type="text" placeholder="Name" value="{{ this.name }}" name="name"></p>
                                      <p><input type="file" placeholder="Image"
                                          onchange="readURL(this,'img{{ this._id }}');" name="image"></p>
                                      <img src="{{ this.image }}" alt="previewImage" height="100px"
                                        id="img{{ this._id }}">
                                      <p><input type="number" name="price" placeholder="Price ₹"
                                          value="{{ this.price }}"></p>
                                      <p><input name="description" id="bill" value="{{ this.description }}"
                                          placeholder="Description"></input></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card single-accordion">
                                <div class="card-header" id="headingTwo">
                                  <h5 class="mb-0">
                                    <input type="checkbox" id="IsVeg" name="isVeg" {{#if this.isVeg}} checked {{/if}}>
                                    <label for="IsVeg"> Is Veg</label><br>
                                  </h5>
                                </div>

                              </div>
                              <div class="card single-accordion">
                                <div class="card-header" id="headingThree">
                                  <h5 class="mb-0">
                                    <input type="checkbox" id="IsAvailable" name="isAvailable" {{#if this.isAvailable}}
                                      checked {{/if}}>
                                    <label for="IsAvailable"> Is Available</label><br>
                                  </h5>
                                </div>

                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="order-details-wrap">
                            <table class="current-list-item">

                              <label> Select Category: </label> <br>
                              <select name="category">

                                <option value="breakfast"> Breakfast
                                </option>
                                <option value="lunch"> Lunch
                                </option>
                                <option value="dinner"> Dinner
                                </option>
                                <option value="snacks"> Snacks
                                </option>
                              </select>

                            </table><br><br><br><br><br>

                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{/each}}
      </div>


    </div>
  </div>
  <!-- Button trigger modal -->

  {{> footer}}

  {{> script}}
  <script>
    function readURL(input, id) {
      console.log("readURL");
      const newId = "#" + id;
      console.log(newId, id);
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(newId)
            .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</body>

</html>